@import "tailwindcss";

:root {
  --background: #E4E7EB;
  --foreground: #000000dd;
  --pry: #007AFF;
}

p, h1, h2, h3, h4, h5, div, span {
  @apply text-black/85
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --color-pry: var(--pry);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  background-image: url(/backdrop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

html {
  scrollbar-gutter: stable;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

h1 {
  @apply font-bold text-[2rem] md:text-[3rem];
}

h2 {
  @apply text-3xl font-bold;
}

.header {
  font-weight: bold;
  letter-spacing: 0.06rem;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

h3 {
  @apply text-xl font-bold;
}


@media (min-width: 640px) {
  @keyframes float {

    0%,
    100% {
      transform: translateY(0) rotate(-45deg);
    }

    50% {
      transform: translateY(-20px) rotate(45deg);
    }
  }

  @keyframes floatAlt {

    0%,
    100% {
      transform: translateY(0) rotate(-45deg);
    }

    50% {
      transform: translateY(-20px) rotate(45deg);
    }
  }

  .animate-float {
    animation: float 1s ease-in-out infinite;
  }

  .animate-floatAlt {
    animation: floatAlt 1s ease-in-out infinite;
  }
}

@keyframes bg-move {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 0% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}